body{
  font-family: 'MODERN TYPEWRITER', sans-serif;

    text-align: center;
    color:#919191;
}

t1 {
  color: black;
 font-size: 2.5vw;
  -webkit-animation: fadein_text .9s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
     -o-animation: fadein 1s; /* Opera < 12.1 */
        /* animation: fadein 5s; */
}

p{
  color:white;
}

@keyframes fadein {
    0% { opacity: 0; filter : blur(100px);}
    20% { opacity: 1; filter : blur(0px);}
    40%   { opacity: 1; filter : blur(0px);}
}

@keyframes fadein_text {
    /* 0% { opacity: 0; } */
    0%   { opacity: 0; letter-spacing: .4vw}
    60%   { opacity: 0; letter-spacing: .4vw}
    100%   { opacity: 1; letter-spacing: 0px}
}

div.outer{
  text-align: center;
  align-items: center;
  width: 100%;
}

img.intro{
  width: 40%;
  margin: 5vw;
  opacity: 1;
  animation: fadein 3.5s;
}


div.title{
  background-color: white;
  font-size: 5vw;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display:flex;
  align-items: center;
  justify-content: center;
  height:30vh;
  margin-top: 10vh;
}

t2 {
  font-family: 'MODERN TYPEWRITER', sans-serif;
  margin-left: 3vw;
  margin:3%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 1px 1px #FFFFFF;
  color: black;
}


div.divprofile{
  display:flex;
  align-items: center;
  justify-content: center;
}

div.divprofile_text{
  /* margin:5vw; */
  /* margin-left: 0; */
  width:70%;"
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 4vw;
}

div.divprofile_img{
  width:30%;
  margin: 5vw;
  /* margin-right: 0; */
  width: 30%;
  height: 10%;
  align-items: center;
}

img.profile{
  border-radius: 50%;
  width: 100%;
}

p.description{
  color:black;
  margin-right:4vw;
  margin-left:4vw;
  text-align:justify;
  font-size:1.7vw;
  line-height: 174%;
}

figure.creations{
  width:30%;
  margin-right:6vw;
}

div.overlay {
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  position: absolute;
}

code{
  margin-top: 10px;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 12px;
  padding-bottom: 12px;
  /* font-size:2.3vw; */
  color:white;
  /* background-color: black; */
  background-image: url(../contents/background_mail.png);
  background-size:100% 100%;
  /* background-position: top, bottom; */
  background-repeat: no-repeat;
}

div.research_text{
  width:60%;
  align-items: center;
  justify-content: center;
}

div.research_link{
  margin:5vw;
  margin-left:0;
  width: : 50%;
  font-size:1.2vw;
  align-items: center;
  justify-content: center;
}

div.creation_list{
  display: flex;
}

div.inner{
  text-align: center;
  max-width: 800px;
}
#timeline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* margin-top: 1%; */
  margin:5vw;
  margin-top: 2.5vw;
  background-color: white;
}
#timeline:hover .tl-item {
  width: 23.3333%;
}

.tl-item {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  position: relative;
  width: 25%;
  height: 65vh;
  /* min-height: 600px; */
  color: white;
  overflow: hidden;
  -webkit-transition: width 0.5s ease;
  transition: width 0.5s ease;
  /* -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  /* filter: grayscale(100%); */ */
  border: 2px solid white;
}
.tl-item:before, .tl-item:after {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.tl-item:after {
  background: white;
  opacity: .8;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
.tl-item:before {
  background: -webkit-linear-gradient(top, transparent 0%, white 95%);
  background: linear-gradient(to bottom, transparent 80%, white 0%);
  /* background-image:url(./contents/1371.png) */
  z-index: 2;
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0) translateY(80%);
          transform: translate3d(0, 0, 0) translateY(80%);
  -webkit-transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
  transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
  transition: opacity 0.5s ease, transform 0.5s ease;
  transition: opacity 0.5s ease, transform 0.5s ease, -webkit-transform 0.5s ease;
}
.tl-item:hover {
  width: 30% !important;

}
.tl-item:hover:after {
  opacity: 0;
}
.tl-item:hover:before {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) translateY(0);
          transform: translate3d(0, 0, 0) translateY(0);
  -webkit-transition: opacity .5s ease, -webkit-transform 1s ease 0.25s;
  transition: opacity .5s ease, -webkit-transform 1s ease 0.25s;
  transition: opacity .5s ease, transform 1s ease 0.25s;
  transition: opacity .5s ease, transform 1s ease 0.25s, -webkit-transform 1s ease 0.25s;
}
.tl-item:hover .tl-content {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.75s ease 0.5s;
  transition: all 0.75s ease 0.5s;
  color: black;
}
.tl-item:hover .tl-bg {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.tl-content {
  -webkit-transform: translate3d(0, 0, 0) translateY(140px);
          transform: translate3d(0, 0, 0) translateY(140px);
  position: relative;
  z-index: 2;
  text-align: center;
  margin: 0 1.618em;
  color: black;
  top: 73%;
  opacity: 0;
}
.tl-content h1 {
  /* margin-top: 1vw; */
  /* font-family: 'Pathway Gothic One',Helvetica Neue,Helvetica,Arial,sans-serif; */
  text-transform: uppercase;
  color: black;
  font-size: 1.44rem;
  opacity: 0;
  /* font-weight: normal; */
}

.tl-year {
  position: absolute;
  top: 5%;
  left: 10%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  /* border-top: 1px solid black;
  border-bottom: 1px solid black; */
  /* color: #FFC1C1; */
  padding-left: 0px;
  padding-right: 20px;
  /* box-shadow: 2px 2px 1px white; */
  /* border: .5px solid black; */
  border-bottom-right-radius: 2px;
  background-color: white;
  /* opacity: 40%; */

  /* text-align: center; */
  /* background-color: #fe628e; */
}
.tl-year p {
  /* font-family: 'Pathway Gothic One',Helvetica Neue,Helvetica,Arial,sans-serif; */
  font-size: 1.728rem;
  line-height: 0;
  text-align: center;
  color: black;
  padding-left: 50px;
}

.tl-bg {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 100%;
  background-size: cover;

  background-position: top center;
  -webkit-transition: -webkit-filter 3s ease;
  transition: -webkit-filter 3s ease;
  transition: filter 3s ease;
  transition: filter 3s ease, -webkit-filter 3s ease;
  /* border: 30px solid; */
  /* border-image: url(.contents/test.png); */
  /* padding: 20px; */
  /* border: 2px solid red; */
  /* -webkit-filter: grayscale(100%);
          filter: grayscale(100%); */
}

.tl-mobile-desc{
  background-color: white;
  /* margin-top: 10vh; */
  /* height: 20vh; */
  margin:3vh;
  margin-bottom: 5vh;
  word-wrap: break-word;
}

.tl-mobile-desc-text{
  text-align:left;
  color:black;
  font-size:3vw;
  text-align:justify;
  /* overflow:hidden; */
  /* word-break:break-all; */
  /* white-space:normal; */
}

.tl-mobile-item{
  height: 40vh;
  background-attachment:scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 6vh;
  /* -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  /* filter: grayscale(100%); */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  position: relative;
}

.tl-mobile-date{
  -webkit-transform: translateX(-1%) translateY(-5%);
          transform: translateX(-1%) translateY(-5%);
  position: absolute;
  padding: 20px;
  top: -5;
  border-bottom-right-radius: 4px;
  background-color: white;
  font-size: 3vw;
  color: black;
}

@media screen and (max-width: 1024px) {

  t1 {
   font-size: 5vw;
  }

  div.title{
    font-size: 6vw;
    height:15vh;
    margin-top: 10vw;
    background-attachment:scroll;
    /* position: fixed; */
  }

  img.profile{
    width: 100%;
    padding-top: 20vw;
  }

  div.divprofile_text{
    width: 100%;
    justify-content: center;
  }

  div.divprofile_img{
    width: 100%;
    margin: 8vw;
    /* margin-right: 5vw; */
    display: none;
  }
  div.divprofile{
    display: grid;
    align-items: center;
    justify-content: center;
  }

  p.description{
    /* margin:4vw; */
    /* margin-left:10px; */
    /* margin-right:50px; */
    font-size:3.2vw;
    line-height: 173%;
  }

  img.intro{
    margin-bottom: 10%;
    margin-top: 30%;
    width: 80%;
    content:url("../contents/theo4.png");
    animation: fadein 5s;
  }

  div.research_text{
    width:100%;
    font-size:3.2vw;
    /* margin-bottom: 0; */

  }

  div.research_link{
    width:100%;
    font-size:2.5vw;
    margin:0;
  }

  figure.creations{
    width:100%;
    padding: 0;
    padding-left: 6%;
    padding-right: 6%;
  }

  div.creation_list{
    flex-wrap: wrap;
    align-items: center;
  }

  figcaption{
    font-size: 2.5vw;
  }

  #timeline {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  #timeline_mobile {
    display: none;
  }
}
